.replies {
  overflow-y: scroll;
  height: 400px;
}
.boxShadowEl {
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 8px;
  margin-bottom: 14px;
}
.offcanvas-end {
  overflow-y: scroll;
}
.main-content {
  /* width:30%; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* opacity:0; */
}

.show {
  opacity: 1;
  transition: ease-in 0.5s;
}

@media (max-width: 999px) {
  .body {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .main-content {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .open {
    display: flex;
    justify-content: space-around;
    width: 95% !important;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.send {
  display: flex;
  justify-content: space-between;
}

.text {
  opacity: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 14px;
}

.container {
  /* max-width: 1000px; */
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.switch-holder {
  /* display: flex;
  padding: 10px 20px;
  border-radius: 10px; */
  /* margin-bottom: 30px; */
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
    10px 10px 10px rgba(0, 0, 0, 0.3),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  /* height: 25px; */
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
  right: 0;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.darkmode {
  background: black !important;
  color: white !important;
}

.lightmode {
  background: white !important;
  color: black !important;
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "white";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "dark";
  color: #fff;
  background-color: black;
  /* box-shadow: -3px -3px 5px rgba(255,255,255,.5),
              3px 3px 5px #00b33c; */
}

.f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid red; */
  width: 20%;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.open {
  display: flex;
  justify-content: space-around;
  /* border: solid red; */
  width: 40%;
  position: absolute;
  bottom: 0;
}

.profile-set {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.profile {
  /* border: solid red; */
  width: 35px;
  height: 35px;
  border-radius: 360px;
  background-color: gray;
  margin-right: 5px;
}

.form-control:focus {
  border: transparent !important;
}
.dropbtn {
  padding: 16px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtndot {
  padding: 16px;
  font-size: 14px;
  border: none;
  /* position: absolute; */
}

.dropdowndot {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-contentdot {
  display: none;
  position: absolute;
  left: -250%;
  padding: 5px;
  /* border: solid green; */
  background-color: #aca6a6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.a {
  display: none;
}

.dot:hover .a {
  display: block;
}

.dropdown-content a:hover {
  color: #3e8e41;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdowndot:hover .dropdown-contentdot {
  display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.send-btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: grey;
}

.sendfocus {
  opacity: 1 !important;
  display: flex;
  justify-content: space-between;
  transition: linear 0.5s;
}

h3,
h5 {
  color: black;
}

.hide-content {
  transition: ease 0.2s;
  opacity: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.replies-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 10px;
}

.replies {
  border-left: solid gray 5px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.show-content {
  transition: ease 0.2s;
  opacity: 1;
}

input {
  border: 2px solid grey !important;
}
